---
#Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import 'custom';
/* TODO include only used parts of bootstrap */
@import 'bootstrap';

.card {
  margin: 2rem 0 2rem 0;
  box-shadow: inset -1px -1px 0px #dddddd;
}

.my-footer {
  padding: 1.25rem;
}

.my-footer-text {
  line-height: 1.25;
  margin-bottom: 0;
}