---
---
@charset "utf-8";

@import 'bootstrap-customization';
@import 'bootstrap-modules';

.card {
  margin: 2rem 0 2rem 0;
  box-shadow: inset -1px -1px 0px #dddddd;
}

.my-footer {
  padding: 1.25rem;
}

.my-footer-text {
  line-height: 1.25;
  margin-bottom: 0;
}




.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}