<div class="bg-info my-footer">
    <div class="row">
        <div class="col-12 col-md-8">
            <p class="small my-footer-text">
                Last update: {{ site.last-db-update }}
            </p>
        </div>
        <div class="col-12 col-md-4">
            <p class="small my-footer-text">
                Sysctl Explorer is <a href="https://github.com/proudier/sysctl-explorer/" target="_blank" rel="noopener">available</a> under the
                <a href="{{ "gpl-2.0.txt" | absolute_url }}">GPL-2.0.</a><br/>
                Kernel documentation © the Linux kernel authors.<br/>
                Linux® is a <a href="https://www.linuxmark.org/" target="_blank" rel="noopener">registered trademark</a> of Linus Torvalds.
            </p>
        </div>
    </div>
</div>


</div> <!-- container -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>

</script>
</body>

</html>