<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="custom.css">
    <title>
        {% if page.title.size > 0 %}
        {{ page.title }}
        {% else %}
        {{ site.title }}
        {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="icon" type="image/png" href="{{ site.favicon_png | absolute_url }}">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
</head>

<body>
<div class="container">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ site.url }}">Sysctl Explorer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ "abi" | absolute_url }}">abi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ "debug" | absolute_url }}">debug</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ "dev" | absolute_url }}">dev</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ "fs" | absolute_url }}">fs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ "kernel" | absolute_url }}">kernel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ "net" | absolute_url }}">net</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ "user" | absolute_url }}">user</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}{% link vm/index.html %}">vm</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="sysctl variable" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
