{% include header.html %}


<!-- Breadcrumb -->
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        {% for crumb in crumbs offset: 1 %}
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            {% if forloop.last %}
                {{ crumb | replace:'-',' ' | remove:'.html' }}
            {% else %}
                <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}" itemscope itemtype="http://schema.org/Thing" itemprop="item"><span itemprop="name">{{ crumb | replace:'-',' ' | remove:'.html' }}</span></a>
                <meta itemprop="position" content="{{ forloop.index }}" />
            {% endif %}
        </li>
        {% endfor %}
    </ol>
</nav>




<h1>{{ page.title }} </h1>

<div class="card">
    <div class="card-body">
        file: {{ page.sysctl-file }} <br />
        variable: {{ page.sysctl-variable }}
    </div>
</div>

<!-- Official reference -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Official reference</h5>
        {{ content | markdownify }}
        <a href="{{ page.source }}" class="card-link" target="_blank" rel="noopener">source</a>
    </div>
</div>

{% include footer.html %}