{% include header.html %}


<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for crumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ crumb.url }}">{{ crumb.title }}</a></li>
        {% endfor %}
    </ol>
</nav>


<h1>{{ page.title }} </h1>

<div class="card">
    <div class="card-body">
        file: {{ page.sysctl-file }} <br />
        variable: {{ page.sysctl-variable }}
    </div>
</div>

<!-- Official reference -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Official reference</h5>
        {{ content | markdownify }}
        <a href="{{ page.source }}" class="card-link" target="_blank">source</a>
    </div>
</div>

{% include footer.html %}